<form class="col-md-6" action="/update" method="patch">
    <div class="form-group">
        <input type="text" name="title" class="form-control-lg" id="exampleDropdownFormEmail1" value="{{title}}">
    </div>
    <div class="form-group">
        <input type="text" name="content" class="form-control-lg" id="exampleDropdownFormPassword1" value="{{content}}">
    </div>
    <button type="submit" class="btn btn-primary bg-primary border-dark text-white">Salvar</button>
</form>
