<header>
  <div id="cabecalho">
    <h1 >iNote</h1>
    <figure>
      <a href="">
        <img src="./source/img/entrar.png">
        <figcaption>Entrar</figcaption>
      </a>
    </figure>
  </div>
</header>