@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
:root{
    --white: #fff;
    --green: #16b908;

}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    background-color: rgb(223, 223, 223);
}

header{
    width: 100%;
    background-color: #303440;
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
}

#cabecalho{
    font-family: 'Unbounded', cursive;
    box-sizing: border-box;
    margin: 10px 2% 0px 2%;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
}
#cabecalho h1{
    color: #BF4E63;
}
#cabecalho img{
    width: 30px;
    height: 30px;
}
#cabecalho figure{
    text-align: center;
    color: #fff;
    font-size: 10px;
}
#cabecalho figure a{
    color: #fff;
    text-decoration: none;
}

#cardNote button{
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
    border: none;
}