@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
:root{
    --white: #fff;
    --green: #16b908;

}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    background-color: rgb(223, 223, 223);
}

header{
    width: 100%;
    background-color: #303440;
    border-bottom: 2px solid #000000;
    margin-bottom: 10px;
}

#cabecalho{
    font-family: 'Unbounded', cursive;
    box-sizing: border-box;
    margin: 10px 2% 0px 2%;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
}
#cabecalho h1{
    color: #BF4E63;
}
#cabecalho img{
    width: 30px;
    height: 30px;
}
#cabecalho figure{
    text-align: center;
    color: #fff;
    font-size: 10px;
}
#cabecalho figure a{
    color: #fff;
    text-decoration: none;
}
/*
.add {
    position: fixed;
    background-color: var(--green);
    color: var(--white);
    top: 1rem;
    left: 1rem;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
}


.note{
    background-color: var(--white);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    height: 100px;
    width: 400px;
}

.configuration .title{
    color: var(--white);
    justify-content: start;
    
}

.note .configuration{
    background-color: var(--green);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.configuration button{
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
    border: none;
}

.note textarea{
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 100px;
    width: 100%;
    padding: 20px;
}

.main{
    padding: 20px;
}

.hidden{
    display: none;
}*/