<header>
  <div id="cabecalho" class="d-flex">
    <h1 class="flex-grow-1"><a href="/">iNote</a></h1>
    <p class="mb-0 mr-2 border-0 active disabled text-white-50">Olá,
     <h5 class="text-white-50 mr-5 mb-1"><strong>{{username}}</strong></h5>
    </p>
    <figure class="ml-0">
      <a href="/signout">
        <img src="./source/img/sair.png">
        <figcaption>Sair</figcaption>
      </a>
    </figure>
  </div>
</header>